# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [2]:
#Always start with def keyword
#def name_of_function(parameters):
        #function_body
def my_function():
    print('hello')

In [3]:
my_function()

hello

### Why we need function?

In [4]:
print('2001 Newburg Rd')

2001 Newburg Rd

In [5]:
def address():
    print('2001 Newburg Rd')

In [6]:
address()
address()

2001 Newburg Rd
2001 Newburg Rd

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [14]:
#create a function that returns square of number
import math
def square(x):
    return (math.pow(x,2))

In [15]:
square(10)

100.0

In [16]:
square(33)

1089.0

In [17]:
# Cube of numbers
import math
def cube(y):
    return (math.pow(y,3))

In [18]:
cube(3)

27.0

In [19]:
cube(44)

85184.0

In [20]:
#print(x)
#Output is error because x is a local variable only valid inside the function.

## Our own functions for practice
`Echo` that will act same as print

In [21]:
def echo(data):
    return data
echo('Name')

'Name'

In [22]:
echo(10)

10

In [25]:
def echo1(data):
    print(data)
echo1(11)

11

In [26]:
echo("Lastname")

'Lastname'

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [27]:
def favorite_book(title):
    return title

In [29]:
favorite_book('Alice in Wonderland')

'Alice in Wonderland'

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [31]:
def calc_MPG(miles_driven,gallons_used):
    return miles_driven/gallons_used

In [34]:
print(f'The MPG is {calc_MPG(178,5)}')

The MPG is 35.6

In [35]:
print(f'The MPG is {calc_MPG(400,11)}')

The MPG is 36.36363636363637

In [36]:
print(f'The MPG is {calc_MPG(400,11):.2f}')

The MPG is 36.36

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [2]:
def MPG(miles=200,gallon=12):
    return miles/gallon
MPG()

16.666666666666668

In [5]:
MPG(miles=210) #gallon remain as default (12)

17.5

In [6]:
MPG(gallon=10) #now miles remain as default (210)

20.0

In [10]:
MPG(miles=600,gallon=15)

40.0

###  Function repeat using `for` loop

In [13]:
# echo
def repeat_echo(data,count):
    for i in range(count):
        print(data)

In [14]:
repeat_echo('Hello',10)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

## Practice: Define a function called `name` and print your name 20 times using the function

In [17]:
def name(x,y):
    for i in range(y):
        print(x)

In [18]:
name('juan',20)

juan
juan
juan
juan
juan
juan
juan
juan
juan
juan
juan
juan
juan
juan
juan
juan
juan
juan
juan
juan

### Write a function to find maximum of three values

In [19]:
max(10,20,390)

390

In [20]:
def maximum(a,b,c):
    if a>b and a>c:
        largest=a
    elif b>c:
        largest=b
    else:
        largest=c
    return largest

In [21]:
maximum(4,6,3)

6

In [22]:
maximum('a', 'z','B')

'z'

In [23]:
maximum('Sun','Moon','Water')

'Water'

### Practice Example: Define `minimum` function of three values

In [24]:
def minimum(a,b,c):
    if a<b and a<c:
        minimum=a
    elif b<c:
        minimum=b
    else:
        minimum=c
    return minimum

In [25]:
minimum(4,6,3)

3

In [27]:
minimum('Sun','Moon','Water')

'Moon'

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [28]:
def get_mean(*args):
    return sum(args)/len(args)

In [29]:
get_mean(3,4,6,7,9,5,7,8,6)

6.111111111111111

### Arbitary Argumented list with list

In [32]:
#create a radnom numbers list having 10 values in it of a ranfe 10,50 (inclusive)
import random
random.seed(10)
numbers=[]
for i in range(10):
    x=random.randint(10,50)
    numbers.append(x)
print(numbers)

[46, 12, 37, 40, 46, 10, 23, 39, 41, 27]

In [33]:
get_mean(*numbers)

32.1

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [1]:
x=10 #global variable
def scope_of_function():
    num=3
    return num*2
scope_of_function()

6

In [3]:
#print(num) ---------name 'num' is not defined. Because it is a local scope.

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [4]:
x=10
def try_to_modify_global():
    x=3.5
    return x

In [5]:
try_to_modify_global()

3.5

In [7]:
print(x)
#x did not change

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [8]:
x=10
def modify_global():
    global x
    x=3.5
    return x

In [9]:
modify_global()

3.5

In [11]:
print(x)
#It did work because scope of x changed from local to global

3.5

## Write functions to find out Area and Perimeter of circle

In [12]:
import math
def area_circle(r):
    return math.pi*math.pow(r,2)

In [13]:
print(f'The area of the circle is: {area_circle(10):.2f}')

The area of the circle is: 314.16

In [14]:
def peri_circle(r):
    return 2*math.pi*r

In [16]:
print(f'The perimeter of the circle is: {peri_circle(10):.3f}')

The perimeter of the circle is: 62.832

## Write functions to find out Area and Perimeter of rectangle

In [25]:
def area_rectangle(l,w):
    return l*w
def peri_rectangle(l,w):
    return 2*(l+w)

In [26]:
print(f'The area of the rectangle is: {area_rectangle(10,5)}')
print(f'The perimeter of the rectangle is: {peri_rectangle(10,5)}')

The area of the rectangle is: 50
The perimeter of the rectangle is: 30